<form action="/partials/login" method="POST">
  <label for="userId">User ID:</label>
  <input type="text" id="userId" name="user_id" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="user_password" required>

  <button type="submit">Login</button>
</form>
