<form class="d-flex flex-column upload-form" action="/upload" method="post" enctype="multipart/form-data">
  <h3 class="text-light mt-3">Upload an Image</h3>
  <div class="d-flex flex-column gap-3">
    <div class="input-group">
      <input type="file" class="form-control" id="inputGroupFile04" name="image" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
    </div>
    <div class="input-group">
      <span class="input-group-text">Caption</span>
      <textarea class="form-control" name="caption" aria-label="image caption" placeholder="Tell me about this image..." required></textarea>
    </div>
  </div>
  <div>
    <button class="mb-3 btn btn-light" type="submit" value="Upload">Submit</button>
  </div>
</form>
